.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin: 10px 0;
  height: 30px;
}

.form button {
  background-color: firebrick;
  outline: none;
  border: none;
  padding: 10px 5px;
  color: #fff;
  font-size: 15px;
  border-radius: 15px;
}
.todo-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 40px;
}
.todo-item {
  padding: 20px 5px;
  outline: solid 1px #000;
  margin: 10px;
}
.actions button {
  margin: 10px;
  outline: none;
  padding: 5px;
  border: none;
  color: white;
  background-color: firebrick;
}
